.doctors_section {
    display: flex;
    flex-wrap: wrap;
}

.name-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%
}

table {
    border-collapse: collapse;
    border: 2px solid #10e7f4;
}
  
table td {
    border: 2px solid #10e7f4;
}

table th {
    border: 2px solid #10e7f4;
}

td {
    padding: 4px;
}

.menu_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container_block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_card {
    margin-left: 80px;
}

.logout {
    margin-top: 30px;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    border: 3px solid #10e7f4;
    margin-left: 7px;
    margin-bottom: 7px;
    width: 300px;
    height: 300px;
    padding: 4px;
}

.block:hover {
    background: #10e7f4;
    color: rgb(3, 4, 68);
}

.polyclinic {
    height: 250px;
}

.appointment {
    height: 120px;
}

.polyclinic > .name {
    font-size: 20px;
    font-weight: 600;
}

.large_text {
    font-weight: 700;
    font-size: 21px;
}
