{% extends 'main.html' %}

{% block pagebody %}
  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="custom_heading-container ">
        <h2>
          О нас
        </h2>
      </div>

      <div class="img-box">
        <img src="images/about-medicine.png" alt="">
      </div>
      <div class="detail-box">
        <p>
          Наши поликлиники
        </p>
        <div class="blocks">
        {% for polyclinic in polyclinics %}
          <div class="block polyclinic">
            <p class="number">Поликлиника №{{ polyclinic.get("number") }}</p>
            <p class="name">{{ polyclinic.get("name") }}</p>
            <p class="address">{{ polyclinic.get("address") }}</p>
            <p class="hours">Часы работы: {{ polyclinic.get("opening_hours") }}</p>
          </div>
        {% endfor %}
      </div>
      </div>
    </div>
  </section>
{% endblock %}
