{% extends 'main.html' %}

{% block pagebody %}
<a href="/admin">< Назад</a>
<form action="/admin_doctors" method="post">
    <label for="name">ФИО: </label>
    <input type="text" id="fio" name="fio">
    <label for="specialization">Специализация: </label>
    <input type="text" id="specialization" name="specialization">
    <label for="category">Категория: </label>
    <input type="text" id="category" name="category">
    <label for="passport">Паспортные данные: </label>
    <input type="text" id="passport" name="passport_data">
    <br>
    <input type="submit" value="Сохранить запись">
    <input type="hidden" name="record_id" id="tag_record" value="">
</form>
<table class="doctors">
    <tr>
        <th>ФИО</th>
        <th>Специальность</th>
        <th>Категория</th>
        <th>Паспортные данные</th>
        <th></th>
    </tr>
    {% for record in records %}
      <tr>
        {% for field in record %}
        {% if field != "id" %}
        <td>{{ record[field] }}</td>
        {% endif %}
        {% endfor %}
        <td>
            <button record_id="{{record['id']}}" class="editBtn">Удалить</button>
        </td>
      </tr>
    {% endfor %}
</table>
{% endblock %}

{% block stylesblock %}
{% endblock %}


{% block pagebodyscripts %}
<script>
    var records = undefined;
    fetch("get_doctors_full", {}, function(data) {
        records = data;
        let editButtons = document.querySelectorAll(".editBtn");
        for (let item of editButtons) {
            item.addEventListener("click", function(e) {
            let but = e.target;
            let id = parseInt(but.getAttribute("record_id"));
            apiPost("remove_doctor", {"id": id}, function() {
                window.location.href = window.location.href;
            }, function() {viewFlashMessage("Возникла ошибка при выполнении операции")});
            });
        }
    }, function() {viewFlashMessage("Возникла ошибка при выполнении операции")});
</script>
{% endblock %}