{% extends 'main.html' %}

{% block pagebody %}
<div class="container_block">
    <a href="/work">Просмотреть ваших пациентов</a>
    <div class="main_card">
        <div>Ваше имя: <p class="large_text">{{ fio }}</p></div>
        <div>Ваши приемы:</div>
        <div class="blocks">
            {% for appointment in appointments %}
                <div class="block appointment">
                    <div class="datetime"> {{ appointment["datetime"] }} </div>
                    <div class="patient"> {{ appointment["fio"] }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="plan">
            <p class="plan_name">Ваш план: </p>
            <table>
                <tr>
                    <th>День недели</th>
                    <th>Время начала смены</th>
                    <th>Время окончания смены</th>
                    <th>Номер поликлиники</th>
                    <th>Этаж и кабинет</th>
                </tr>
                {% for record in plan %}
                <tr>
                    <td>{{record["weekday"]}}</td>
                    <td>{{record["begin_time"]}}</td>
                    <td>{{record["end_time"]}}</td>
                    <td>{{record["polyclinic_number"]}}</td>
                    <td>{{record["floor"]}} этаж, кабинет {{record["number"]}}</td>
                </tr>
                {% endfor %}    
            </table>
        </div>
        <a class="logout" href="/logout">Выйти из аккаунта</a>
    </div>
</div>
{% endblock %}

{% block pagebodyscripts %}
<script>

</script>
{% endblock %}