{% extends 'main.html' %}

{% block pagebody %}
<section class="health_section layout_padding">
    <div class="health_carousel-container">
      <h2 class="text-uppercase">
        Наши доктора
      </h2>
    <div class="doctors_section">
      <div class="box">
        <div class="btn_container">
          <a href="/appointment">
            Записаться
          </a>
        </div>
        <div class="img-box">
          <img src="images/p-6.jpg" alt="">
        </div>
        <div class="name-box">
          <div class="text doctor_name">
            <h5>
              Доктор
            </h5>
          </div>
          <div class="text specialization">
            <h6>
              специальность
            </h6>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- end health section -->
{% endblock %}

{% block pagebodyscripts %}
<script>
let doctors = fetch("get_doctors", {}, function(data) {
    let element = document.querySelector(".box").cloneNode(true);
    document.querySelector(".doctors_section").textContent = "";
    for (let i = 0; i < data.length; i++) {
        let doctor = element.cloneNode(true);
        doctor.querySelector("a").attributes.href.textContent = `/appointment?doctor_id=${data[i]["id"]}`;
        doctor.querySelector(".doctor_name > h5").innerText = data[i]["fio"];
        doctor.querySelector(".specialization > h6").innerText = data[i]["specialization"];
        document.querySelector(".doctors_section").appendChild(doctor);
    }
}, function() {
  document.querySelector(".doctors_section").textContent = "";
  console.error("Error while loading doctors");
});
</script>
{% endblock %}