{% extends 'main.html' %}

{% block pagebody %}
<datalist id="patient_list">
    {% for patient in patients %}
    <option value="{{patient['id']}}">{{ patient["fio"] }}</option>
    {% endfor %}
</datalist>
<datalist id="disease_list">
    {% for disease in diseases %}
    <option value="{{disease['name']}}">{{ disease["name"] }}</option>
    {% endfor %}
</datalist>
<datalist id="medicament_list">
    {% for medicament in medicaments %}
    <option value="{{medicament['name']}}">{{ medicament["name"] }}</option>
    {% endfor %}
</datalist>
<button class="cancelEdit" style="display: none;">Отменить редактирование</button>
<form action="/work" method="post" id="form">
    <label for="patients">Номер пациента:</label>
    <input type="text" id="patients" name="patient" list="patient_list">
    <label for="first_visit">Первое посещение:</label>
    <input type="date" id="first_visit" name="first_visit">
    <label for="recovery_date">Дата выздоровления:</label>
    <input type="date" id="recovery_date" name="recovery_date">
    <br>
    <label for="symptoms">Симптомы:</label>
    <br>
    <textarea id="symptoms" class="text" cols="86" rows ="5" name="symptoms"></textarea>
    <br>
    <label for="treatment_course">Курс лечения:</label>
    <br>
    <textarea id="treatment_course" class="text" cols="86" rows ="5" name="treatment_course"></textarea>
    <br>
    <label for="medicament">Лекарство:</label>
    <input type="text" id="medicament"list="medicament_list">
    <button class="addMedicament">+</button>
    <button class="removeMedicament">-</button>
    <br>
    <select id="medicaments" multiple></select>
    <br>

    <label for="disease">Диагноз:</label>
    <input type="text" id="disease" list="disease_list">
    <button class="addDisease">+</button>
    <button class="removeDisease">-</button>
    <br>
    <select id="diseases" multiple></select>
    <br> 

    <label for="test_name">Название обследования:</label>
    <input type="text" id="test_name" name="test_name">
    <br>
    <label for="test_datetime">Дата обследования:</label>
    <input type="datetime-local" id="test_datetime" name="test_datetime">
    <br>
    <label for="test_cost">Стоимость обследования:</label>
    <input type="number" id="test_cost" step="0.01" name="test_cost" min="0" value="0">
    <br>
    <input type="submit" value="Сохранить запись">
    <input type="hidden" name="record_id" id="tag_record" value="">
</form>
<table class="patients">
    <tr>
        <th>ФИО</th>
        <th>Номер телефона</th>
        <th>Назначенные лекарства</th>
        <th>Диагноз</th>
        <th>Симптомы</th>
        <th>Курс лечения</th>
        <th>Дата первого посещения</th>
        <th>Дата выздоровления</th>
        <th>Обследование</th>
        <th>Дата обследования</th>
        <th></th>
    </th>
    {% for record in records %}
      <tr>
        {% for field in record %}
        {% if field not in ['record_id', 'owner_id'] %}
        <td>{{ record[field] }}</td>
        {% endif %}
        {% endfor %}
        <td>
            <button record_id="{{record['record_id']}}" class="editBtn">Ред.</button>
        </td>
      </tr>
    {% endfor %}
</table>
{% endblock %}

{% block stylesblock %}
{% endblock %}


{% block pagebodyscripts %}
<script>
    var records = undefined;
    fetch("get_patient_history", {}, function(data) {
        records = data;
        let editButtons = document.querySelectorAll(".editBtn");
        document.querySelector("#first_visit").valueAsDate = new Date();
        for (let item of editButtons) {
            item.addEventListener("click", function(e) {
                let but = e.target;
                let id = parseInt(but.getAttribute("record_id"));
                document.querySelector("#tag_record").setAttribute("value", id);
                document.querySelector(".cancelEdit").style = "";
                for (let record of records) { 
                    if (record["record_id"] == id) {
                        document.querySelector("#patients").innerHTML = record["fio"];
                        document.querySelector("#patients").value = record["owner_id"];
                        document.querySelector("#first_visit").value = record["first_visit"];
                        document.querySelector("#recovery_date").value = record["recovery_date"];
                        document.querySelector("#symptoms").value = record["symptoms"];
                        document.querySelector("#treatment_course").value = record["treatment_course"];
                        document.querySelector("#medicaments").innerHTML = '';
                        let medicaments = record["medicines"].split(',');
                        for (let medicament of medicaments) {
                            let option = document.createElement("option");
                            option.innerHTML = medicament;
                            option.value = medicament;
                            document.querySelector("#medicaments").appendChild(option);
                        }
                        document.querySelector("#diseases").innerHTML = '';
                        let diseases = record["diseases"].split(',');
                        for (let disease of diseases) {
                            let option = document.createElement("option");
                            option.innerHTML = disease;
                            option.value = disease;
                            document.querySelector("#diseases").appendChild(option);
                        }
                    }
                }
            });
        }
    }, function() {viewFlashMessage("Возникла ошибка при выполнении операции")});
    document.querySelector(".cancelEdit").addEventListener("click", function() {
        document.querySelector("#tag_record").setAttribute("value", "");
        document.querySelector(".cancelEdit").style = "display: none";
    });
    $("#form").submit( function(eventObj) {
      let medicaments = document.querySelectorAll("#medicaments > *");
      let medicamentsList = [];
      for (let i = 0; i < medicaments.length; i++) {
        medicamentsList.push(medicaments[i].value);
      }
      let diseases = document.querySelectorAll("#diseases > *");
      let diseasesList = [];
      for (let i = 0; i < diseases.length; i++) {
        diseasesList.push(diseases[i].value);
      }
      $("<input />").attr("type", "hidden")
          .attr("name", "medicaments")
          .attr("value", medicamentsList.join(","))
          .appendTo("#form");
      $("<input />").attr("type", "hidden")
          .attr("name", "diseases")
          .attr("value", diseasesList.join(","))
          .appendTo("#form");
      return true;
  });

  document.querySelector(".addDisease").addEventListener("click", function(e) {
    e.preventDefault();
    let option = document.createElement("option");
    option.innerHTML = document.querySelector("#disease").value;
    document.querySelector("#diseases").appendChild(option);
  });
  document.querySelector(".removeDisease").addEventListener("click", function(e) {
    e.preventDefault();
    for (let child of document.querySelector("#diseases").selectedOptions) {
        document.querySelector("#diseases").removeChild(child); 
    } 
  });
  document.querySelector(".addMedicament").addEventListener("click", function(e) {
    e.preventDefault();
    let option = document.createElement("option");
    option.innerHTML = document.querySelector("#medicament").value;
    document.querySelector("#medicaments").appendChild(option);
  });
  document.querySelector(".removeMedicament").addEventListener("click", function(e) {
    e.preventDefault();
    for (let child of document.querySelector("#medicaments").selectedOptions) {
        document.querySelector("#medicaments").removeChild(child);
    } 
  });
</script>
{% endblock %}