{% extends 'main.html' %}

{% block pagebody %}
<a href="/lk">Вернуться в личный кабинет</a>
<div class="main_card">
    <div class="patient_card">
        {% for record in records %}
            <div class="card_record">
                <div class="doctor">{{ record["doctor_fio"] }}</div>
                <div class="specialization">{{ record["doctor_specialization"] }}</div>
                <div class="date">{{ record["first_visit"] }}</div>
                <div class="symptoms">{{ record["symptoms"] }}</div>
                <div class="treatment_course">{{ record["treatment_course"] }}</div>
                <div class="test">
                    <p>Исследование</p>
                    <div class="test_name">Название: {{ record["test_name"] }}</div>
                    <div class="datetime">Дата: {{ record["test_datetime"] }}</div>
                    <div class="cost">Стоимость: {{ record["test_cost"] }}</div>
                </div>
                <div class="disease">Диагнозы: {{ record["diseases"] }}</div>
                <div class="medicines">Лекарства: {{ record["medicines"] }}</div>
                <div class="recovery_date">Дата выздоровления: {{ record["recovery_date"] }}</div>
                <a class="reappointment" href="/appointment?doctor_id={{record['doctor_id']}}">Записать к этому доктору вновь</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block pagebodyscripts %}
<script>

</script>
{% endblock %}