{% extends 'main.html' %}

{% block pagebody %}
<div class="menu_block">
    <h2>Выберите аккаунт:</h2>
    {% if "patient" in roles %}
    <a class="role_home" id="patient_role" href="/lk">Войти как пациент</a>
    {% endif %}
    {% if "admin" in roles %}
    <a class="role_home" id="admin_role" href="/admin">Войти как администратор</a>
    {% endif %}
    {% if "doctor" in roles %}
    <a class="role_home" id="doctor_role" href="/doctorlk">Войти как врач</a>
    {% endif %}
</div>
{% endblock %}